# Offline caller-root fixture only. These values match variables.tf defaults.
# Do not replace them with estate inputs or use them as deployment authorization.

cluster_identity_id = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-corp-example/providers/Microsoft.ManagedIdentity/userAssignedIdentities/id-aks-corp-example"
location            = "swedencentral"
name                = "aks-corp-example"

network = {
  pod_cidr       = "172.20.0.0/16"
  service_cidr   = "10.240.0.0/16"
  dns_service_ip = "10.240.0.10"
}

private_dns_zone_id = "/subscriptions/11111111-1111-1111-1111-111111111111/resourceGroups/rg-dns-example/providers/Microsoft.Network/privateDnsZones/private.swedencentral.azmk8s.io"
resource_group_id   = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-corp-example"

subnet_ids = {
  api_server   = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-network-example/providers/Microsoft.Network/virtualNetworks/vnet-corp-example/subnets/snet-api"
  user_nodes   = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-network-example/providers/Microsoft.Network/virtualNetworks/vnet-corp-example/subnets/snet-user"
  system_nodes = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-network-example/providers/Microsoft.Network/virtualNetworks/vnet-corp-example/subnets/snet-system"
}

tags = {
  environment = "example"
  purpose     = "offline-contract-validation"
}
